.app{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  background-color: #999;
  position: relative;
}

.app-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  /* max-width: 800px; */
  height: 100%;
  max-height: calc(100% - 500px);
  background-color: aqua;
  overflow: hidden;
}