.friendslist{
    width: 100%;
    max-width: 300px;
    height: 100%;
    /* background-color: #196896; */
    /* border-right: 10px solid #000; */
    background-color: #333;
}

.friendslist .friendshead{
    display: flex;
    justify-content: space-between;
    background-color: #cc5500;
}

.friendshead .froption{
    background-color: #000;
    width: 100%;
    max-width: calc(50% - 1px);
    padding: 15px;
}

.friendshead .froption:hover{
    background-color: #cc5500;
    cursor: pointer;
}

.friendshead .froption h2{
    font-size: 20px;
}

.friendslist .friends{
    width: 100%;
    margin-top: 30px;
    padding: 20px;
}

.friends .friend{
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    padding: 15px;
    background-color: #000;
    list-style-type: none;
    color: #fff;
    font-size: 20px;
    /* border: 2px solid #cc5500; */
    border-radius: 10px;
}

.friend:hover{
    background-color: #cc5500;
    cursor: pointer;
    margin-left: 5px;
    transition: margin .25s ease-in-out;
}