.sidebar{
    display: none;
    flex-direction: column;
    width: 350px;
    /* height: calc(100vh - 72px); */
    background-color: #000;
    overflow: hidden;
}

.sidebar .signoutContainer{
    width: 100%;
    padding: 27px;
    background-color: #cc5500;
}

.sidebar .signoutContainer .btn{
    width: 100%;
    padding: 10px;
    background-color: #000;
    text-align: center;
    color: #fff;
    font-size: 20px;
    border-radius: 10px;
}

.sidebar .signoutContainer .btn:hover{
    cursor: pointer;
    background-color: #333;
}

@media(min-width: 1024px){
    .sidebar{
        display: flex;
    }
}