.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  padding: 20px;
  background-color: #196896;
}

.header .usergreet p{
  margin: 0;
  font-size: 28px;
}

.header .signout-container{
  align-items: center;
  width: 100%;
  max-width: max-content;
  height: auto;
}

.header .signout-container .btn{
  width: 200px;
  height: auto;
  padding: 10px;
  margin-top: 8px;
  background-color: #cc5500;
  color: #fff;
  font-size: 20px;
  border: none;
  border-radius: 100px;
  overflow: hidden;
}

.header .signout-container .btn:hover{
  background-color: #fff;
  color: #000;
  cursor: pointer;
}

.header .signout-container .btn:active{
  background-color: #333;
  color: #fff;
  scale: 99%;
}

@media(min-width: 768px){
  .header{
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .header .signout-container .btn{
    margin: 0;
  }
}