.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: auto;
  padding: 20px 0;
  background-color: #196896;
  position: relative;
}

.header .usergreet p{
  margin: 0 20px;
  font-size: 28px;

}

.header .menuIconContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: max-content;
  margin: 0 20px;
  padding: 5px;
  background-color: transparent;
  border-radius: 50%;
  transition: padding 1s ease;
}

.header .menuIconContainer .menuIcon{
  fill: #fff;
}


@media(min-width: 768px){
  .header{
    justify-content: space-between;
    align-items: center;
  }

  .header .signout-container .btn{
    margin: 0;
  }
}